*{
    font-family: 'Merriweather', serif;
}
.navbar a {
    color: black;
}
.bg{
    background-color: rgba(255, 255, 255, 0.164);
    text-align: center; 
}
.toptow{
    margin-top: -50px;
    margin-bottom: 100px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.imgb{
background-image: url(imag/logo-leaf-new.png);
 background-repeat: no-repeat;
background-position: right bottom;
background-size:30%;

}
.colr{color: #8BC34A;}
.btn{background-color: #8BC34A;
border: none;}